 
ot-system-admin 
ot-system-admin/*
ot-system-admin/**
ot-system-admin/**/*
**/**/ot-system-admin
*/**/ot-system-admin
**/ot-system-admin
*/ot-system-admin
 
 
 



ot-system-client 
ot-system-client/*
ot-system-client/**
ot-system-client/**/*
**/**/ot-system-client
*/**/ot-system-client
**/ot-system-client
*/ot-system-client  



ot-system-server 
ot-system-server/*
ot-system-server/**
ot-system-server/**/*
**/**/ot-system-server
*/**/ot-system-server
**/ot-system-server
*/ot-system-server


package-lock.json


node_modules/ 
node_modules/* 
node_modules/**/* 
 
 